.EnergyForGoals {
  margin-top: 120px;
  background-image: url("/Home/EnergyForGoals/bg.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.EnergyForGoals .container {
  display: flex;
  justify-content: flex-end;
  padding: 150px 0 250px;
}
.EnergyForGoals-text {
  color: #f8faf9;
  max-width: 702px;
}

.EnergyForGoals-text h2 {
  padding-bottom: 48px;
}

.EnergyForGoals-text h3 {
  padding-bottom: 16px;
}
