/* .TemplateWithImageRight {
} */
.TemplateWithImageRight .container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.TemplateWithImageRight-image {
  max-width: 530px;
  width: 100%;
  border-radius: 6px;
}
.TemplateWithImageRight-image img {
  border-radius: 6px;
}
.TemplateWithImageRight-text {
  max-width: 750px;
  width: 100%;
}

.to-catalog-blue-template-container {
  max-width: 260px;
}

.TemplateWithImageRight-text h2 {
  padding-bottom: 45px;
}

.TemplateWithImageRight-text h4 {
  padding-bottom: 16px;
}

@media only screen and (max-width: 1000px) {
  .TemplateWithImageRight-text h2 {
    font-size: 32px;
    padding-bottom: 25px;
  }

  .TemplateWithImageRight-text h4 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .TemplateWithImageRight-image {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .TemplateWithImageRight-image {
    display: block;
    max-height: 300px;
  }
  .TemplateWithImageRight-image img {
    object-fit: cover;
    max-height: 300px;
  }
  .TemplateWithImageRight .container {
    flex-direction: column-reverse;
  }
  .to-catalog-blue-template-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .TemplateWithImageRight-text h2 {
    font-size: 26px;
    padding-bottom: 18px;
  }

  .TemplateWithImageRight-text h4 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .TemplateWithImageRight-text p {
    font-size: 16px;
  }
}
