header {
  box-shadow: 0px 4px 9.9px -4px #0d0e101f;

  padding: 20px 0 0;
  background: #f8faf9;
  color: #0d0e10;
  position: relative;
  z-index: 10;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}

.header-top-icons {
  display: flex;
  gap: 20px;
}

.header-top-icon {
  width: 30px;
  height: 30px;
}

.header-search-input-wrapper {
  border: 1px solid #c7c7c7;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
  max-width: 320px;
  width: 100%;
}

.header-search-input-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 640px;
}

.search-list {
  pointer-events: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 12;
  max-width: 640px;
  width: 100%;
  border-radius: 0 0 4px 4px;
  position: absolute;
  background: #f8faf9;
  top: calc(100% + 15px);
  right: 0;
}

.header-search-input {
  width: 100%;
  outline: none;
  color: #4f5052;
}

.header-search-input::placeholder {
  color: #4f5052;
}

.search-icon {
  font-size: 20px;
}

.header-bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  gap: 20px;
}
.logo,
.logo-container {
  max-width: 260px;
}

.header-burger {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 4px;
  cursor: pointer;
  max-width: 20px;
  width: 100%;
}
.header-burger-line {
  width: 100%;
  border: 2px solid #0339f4;
  background: #0339f4;
  border-radius: 20px;
  transition: ease 0.3s all;
  transform-origin: center;
}

.header-burger.active .header-burger-line:nth-child(2) {
  opacity: 0; /* краще ніж display:none, щоб не ламався флекс */
}

.header-burger.active .header-burger-line:nth-child(1) {
  transform: rotate(315deg) translateY(9px);
}

.header-burger.active .header-burger-line:nth-child(3) {
  transform: rotate(-315deg) translateY(-9px);
}

.header-nav-links {
  max-width: 530px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  position: relative;
}
.header-link {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: color ease 0.3s;
  padding: 2px 5px 1px;
}

.header-link:hover {
  color: #0339f4;
}

.header-link.active {
  color: #0339f4;
  border-bottom: 2px solid #0339f4;
}

.header-link-arrow {
  font-size: 20px;
  color: #0339f4;
  transform: rotate(270deg);
  transition: transform 0.25s ease;
}

.header-link-arrow.rotate {
  transform: rotate(360deg);
}

.header-nav-user-func {
  max-width: 310px;
  width: 100%;
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-nav-user-func-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
  max-width: 100px;
  width: 100%;
}

.header-nav-user-func-col:hover {
  color: #0339f4;
}

.header-nav-user-func-icon {
  width: 26px;
  height: 26px;
  color: #0339f4;
  stroke-width: 1px;
}

.header-catalog-menu {
  position: absolute;
  max-width: max-content;
  width: 100%;
  top: calc(100% + 30px);
  padding: 20px 20px;
  background-color: #f8faf9;
  border-radius: 0 0 4px 4px;
  display: none;
}

.header-catalog-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: #d2d3d4 1px solid;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.header-catalog-menu.active {
  display: block;
}

.header-catalog-menu-icon {
  width: 24px;
  height: 24px;
}

.header-catalog-menu-top:hover {
  color: #0339f4;
}

.header-catalog-menu-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 20px;
  padding-top: 16px;
}

.header-catalog-menu-link {
  transition: 0.3s ease all;
}
.header-catalog-menu-link:hover {
  color: #0339f4;
  cursor: pointer;
}

.burger-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 82px);
  overflow-y: auto;
  background-color: #f8faf9;
  transform: translateX(-100%); /* сховано вище */
  opacity: 0; /* прозоре */
  pointer-events: none; /* не клікається, поки не активне */
  transition: all 0.4s ease;
  padding-bottom: 30px;
  z-index: 10;
}

.burger-menu.active {
  transform: translateX(0); /* виїжджає вниз */
  opacity: 1;
  pointer-events: auto;
}

.burger-menu-func {
  padding-top: 12px;
  padding-bottom: 28px;
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 4px;
}
.burger-menu-func-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  background: #4f50521a;
}
.burger-menu-func-icon {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
  color: #0339f4;
}

.burger-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 28px;
}
.burger-menu-link {
  background: #4f50521a;
  padding: 12px;
}

.burger-menu-link-with-tap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu-link-icon {
  font-size: 24px;
  transition: all ease 0.3s;
}
.burger-menu-link-icon.rotate {
  rotate: 180deg;
}

.burger-menu-catalog {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
}

/* коли додається клас .active */
.burger-menu-catalog.active {
  padding-top: 16px;
  max-height: max-content;
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .header-nav-user-func {
    max-width: 260px;
  }
  .logo,
  .logo-container {
    max-width: 200px;
  }
}

@media only screen and (max-width: 975px) {
  .header-nav-user-func-col p {
    display: none;
  }
  .header-nav-user-func {
    max-width: 100px;
  }
  .header-nav-user-func-icon {
    font-size: 24px;
  }
}

@media only screen and (max-width: 800px) {
  .logo,
  .logo-container {
    max-width: 150px;
  }
  .header-nav-links {
    max-width: 400px;
  }
}

@media only screen and (max-width: 700px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .product-container {
    margin-top: 165px;
  }



  .success-page {
    min-height: 100vh;
    padding-top: 120px;
  }

  .hero-template-small {
    margin-top: 122px;
  }

  .hero-template {
    margin-top: 122px;
  }

  .hero {
    margin-top: 122px;
  }
  .header-top-icon {
    width: 24px;
    height: 24px;
  }
  .header-top-icons {
    gap: 10px;
  }
  .logo-container {
    display: flex;
    align-items: center;
    max-width: 180px;
    gap: 15px;
  }
  .logo {
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .reset-page {
    margin: 200px 0 100px;
  }
  .reset-page {
    margin-top: 82px;
  }
  .OrderPage {
    margin-top: 100px;
  }
  .product-container {
    margin-top: 102px;
  }
  .hero {
    margin-top: 82px;
  }
  .hero-template {
    margin-top: 82px;
  }
  .hero-template-small {
    margin-top: 82px;
  }
  .header-top {
    display: none;
  }
  header {
    padding: 10px 0 5px;
  }
}
