.OrderModal-container {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 15;
  scrollbar-width: auto;
  scrollbar-color: #9f9f9f #2c2c2c;
  background: #0d0e104d;
  width: 100%;
  position: fixed;
  top: 0;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;
}
.OrderModal {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.OrderModal-wrapper {
  background: #f8faf9;
  border-radius: 20px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 32px;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.OrderModal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.OrderModal-top svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.OrderModal-count-products {
  font-size: 18px;
  color: #4f5052;
  margin-top: 12px;
}

.OrderModal-content-container {
  margin-top: 28px;
}

.OrderModal-wrapper-left-container {
  max-width: 830px;
  width: 100%;
}

.OrderModal-products-list {
  display: flex;
}

.OrderModal-products-row-container {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #4f50521a;
  display: flex;
  align-items: center;
  width: 100%;
}
.OrderModal-products-row.product {
  max-width: 430px;
  padding-right: 10px;
  width: 100%;
}
.OrderModal-products-row.counts {
  max-width: 160px;
  width: 100%;
  text-align: center;
}
.OrderModal-products-row.price {
  max-width: 190px;
  width: 100%;
  text-align: center;
}

/* Нова ціна */

.OrderModal-price {
  color: #0339f4;
  font-size: 18px;
  font-weight: bold;
}

.OrderModal-price.discounted {
  color: #ff7a00;
  font-weight: 700;
}

/* Стара ціна */
.OrderModal-price.old-price {
  color: #999;
  text-decoration: line-through;
  margin-left: 6px;
  font-size: 0.9em;
}

.OrderModal-count-product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.OrderModal-count-funcional {
  font-size: 16px;
  cursor: pointer;
}
.OrderModal-count-number {
  font-size: 20px;
  font-weight: 700;
  color: #0339f4;
}
.OrderModal-list-empty {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fafafa;
  border-radius: 12px;
}

.empty-box {
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0.9;
  animation: fadeIn 0.4s ease;
}

.empty-box img {
  width: 70px;
  margin-bottom: 12px;
  opacity: 0.7;
}

.empty-box p {
  font-size: 18px;
  font-weight: 600;
  color: #555;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.OrderModal-product-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.OrderModal-product-wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.OrderModal-product-wrapper-text-title {
  font-weight: 600;
  font-size: 20px;
}
.OrderModal-product-wrapper-text-taste {
  font-size: 16px;
  font-weight: 400;
  color: #4f5052;
}
.OrderModal-product-wrapper-text-weight {
  font-size: 16px;
  font-weight: 400;
  color: #4f5052;
}

.order-total-price {
  background: #0339f40d;
  border-radius: 6px;
  padding: 20px;
  height: max-content;
  max-width: 390px;
}
.order-total-price-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #0339f4;
  text-transform: uppercase;
  padding-bottom: 32px;
}
.order-total-price-content {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid #0339f433;
  border-bottom: 1px solid #0339f433;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.order-total-price-content-row {
  display: flex;
  justify-content: space-between;
}
.order-total-price-content-row-text {
  font-size: 18px;
}
.order-total-price-content-count {
  font-size: 18px;
  font-weight: 700;
}
.order-total-free-delivery {
  color: #0339f4;
  font-size: 18px;
}
.order-total-price-total {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  color: #0339f4;
  font-size: 18px;
}

/* .order-total-price-total h4 {
} */

.order-total-price-total p {
  font-weight: 700;
}

.order-total-go-to-order-page {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: #f8faf9;
  text-transform: uppercase;
  padding: 17px 0;
  background: #0339f4;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.order-total-go-to-order-page:hover {
  background: #1033a4;
}

.OrderModal-products-row-mobile-adaptation {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 1120px) {
  .OrderModal-product-wrapper-text-title {
    font-size: 17px;
    line-height: 20px;
  }
  .OrderModal-product-wrapper-text-taste,
  .OrderModal-product-wrapper-text-weight {
    font-size: 15px;
  }
  .OrderModal-product-wrapper {
    gap: 10px;
  }
  .OrderModal-product-wrapper img {
    width: 80px;
    height: 80px;
  }
  .order-total-price {
    max-width: 350px;
  }
  .OrderModal-product-wrapper-text {
    gap: 2px;
  }
}

@media only screen and (max-width: 1040px) {
  .OrderModal-products-row.price {
    max-width: 140px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    text-align: center;
  }
  .OrderModal-products-row.counts {
    max-width: 140px;
  }
  .OrderModal-price {
    font-size: 16px;
  }
  .OrderModal-products-row.mobile-hidden {
    display: none;
  }
}

@media only screen and (max-width: 940px) {
  .OrderModal-wrapper {
    padding: 30px 20px;
  }
}

@media only screen and (max-width: 880px) {
  .OrderModal-wrapper {
    flex-direction: column;
  }
  .order-total-price {
    max-width: 100%;
  }
  .OrderModal-products-row.product {
    max-width: 100%;
  }
  .OrderModal-products-row-mobile-adaptation {
    gap: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .OrderModal-product-wrapper-text-title {
    font-size: 15px;
    line-height: 17px;
  }
  .OrderModal-product-wrapper-text-taste,
  .OrderModal-product-wrapper-text-weight {
    font-size: 13px;
  }
  .OrderModal-price {
    font-size: 14px;
  }
}

@media only screen and (max-width: 530px) {
  .OrderModal-products-row-container {
    flex-direction: column;
    gap: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .OrderModal-products-row-mobile-adaptation {
    max-width: 100%;
  }
  .OrderModal-products-row.price {
    justify-content: flex-end;
  }
  .order-total-go-to-order-page {
    font-size: 16px;
  }
  .OrderModal-price {
    font-size: 16px;
  }
  .order-total-price-title {
    padding-bottom: 18px;
  }
  .order-total-price-content {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .order-total-price{
    padding: 20px 15px;
  }
  .order-total-price-total{
    padding: 18px 0;
  }
}
